body{
	font-family: font-family: 'Playfair Display', serif;
	background-color:#ffffff;
}
header{
	  padding: 20px 0;
}
.menu ul li a{
	font-weight: 400;
	font-size: 14px;
	color: #b6b6b6 !important;
	padding: 0 60px !important; 
	transition: .5s;
}
.menu ul li:last-child a{
	padding-right: 0 !important;

} 
.menu ul li a:hover{
	color: black !important;
}
.banner{}
.cid {

    bottom: 15px; 
}
.cid li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    }